@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mb-4"><i class="bi bi-question-circle"></i> Help & User Guide</h2>

<div class="row justify-content-center">
    <div class="col-md-8">
        <p class="lead text-center">Watch these tutorials to understand how to use the University Correspondence Portal:</p>

        <!-- Tutorial Video 1 -->
        <div class="embed-responsive embed-responsive-16by9 mb-4">
            <div id="player1"></div>
        </div>

        <!-- Tutorial Video 2 -->
        <div class="embed-responsive embed-responsive-16by9 mb-4">
            <div id="player2"></div>
        </div>

        <!-- Tutorial Video 3 -->
        <div class="embed-responsive embed-responsive-16by9 mb-4">
            <div id="player3"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
        var players = [];

        function onYouTubeIframeAPIReady() {
            players.push(new YT.Player('player1', {
                height: '360',
                width: '640',
                videoId: 'UFy1-eRYTqk',
                events: {
                    'onStateChange': onPlayerStateChange
                }
            }));

            players.push(new YT.Player('player2', {
                height: '360',
                width: '640',
                videoId: 'jpsB18MP4hQ',
                events: {
                    'onStateChange': onPlayerStateChange
                }
            }));

            players.push(new YT.Player('player3', {
                height: '360',
                width: '640',
                videoId: 'B8Yc37IbWu0',
                events: {
                    'onStateChange': onPlayerStateChange
                }
            }));
        }

        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING) {
                players.forEach(function (player) {
                    if (player !== event.target && player.getPlayerState() == YT.PlayerState.PLAYING) {
                        player.pauseVideo();
                    }
                });
            }
        }
    </script>
}
