@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mb-4"><i class="bi bi-question-circle"></i> Help & User Guide</h2>

<div class="row justify-content-center">
    <div class="col-md-8">
        <p class="lead text-center">Watch these tutorials to understand how to use the University Correspondence Portal:</p>

        <div class="embed-responsive embed-responsive-16by9 mb-4">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VIDEO_ID_1" allowfullscreen></iframe>
        </div>

        <div class="embed-responsive embed-responsive-16by9 mb-4">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VIDEO_ID_2" allowfullscreen></iframe>
        </div>

        <div class="embed-responsive embed-responsive-16by9 mb-4">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VIDEO_ID_3" allowfullscreen></iframe>
        </div>
    </div>
</div>
