@{
    ViewBag.Title = "Home Page";
}

<main class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="text-center">
        <h2 class="mb-4">Welcome to the University Correspondence Portal</h2>

        <div class="mb-3">
            <a href="@Url.Action("Login", "Clerk")" class="btn btn-primary btn-lg">Clerk Login</a>
        </div>
        <div>
            <a href="@Url.Action("Login", "Staff")" class="btn btn-secondary btn-lg">Staff Login</a>
        </div>
    </div>
</main>